!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.c9/
.classpath
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.env*
.pnp.*
.pnpm-debug.log*
.project
.settings/
.sst
.temp
.tmp
.vercel
.vscode/*
.yarn/*
*.launch
*.log
*.pem
*.pid
*.pid.lock
*.seed
*.sublime-workspace
*.tsbuildinfo
/.clerk/
/.idea
/.next/
/.nyc_output
/.pnp
/build
/coverage
/dist
/node_modules
/out/
/tmp
lerna-debug.log*
logs
next-env.d.ts
npm-debug.log*
pids
pnpm-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
yarn-debug.log*
yarn-error.log*
